/*.el
/*.elc
\#*\#
*~

/transient
/.sx
/projectile-bookmarks.eld
/recentf
/request
/elpa
/quelpa
/ido.last*
/hackernews
/eshell
/cnfonts
/smex-items
/tramp
/backups
/auto-save-list
/ac-comphist.dat
/secrets
/eclipse.jdt.ls
/irony
/elfeed-old.org
/hacker-typer
/image-dired
/.cache
/.dap-breakpoints
/.emacs.desktop
/.lsp-session-v1
/history
/.org-id-locations
/url
/network-security.data
/org-caldav-backup.org
/projectile.cache
/speed-type
/layouts
/workspace
/bookmarks
/tutorial
/var
/persist
/ebdb
/elpy
/emms